<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Marmelad&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../public/css/style.css">
    <title>Invitation</title>
</head>
<body>
    <!-- Invitation -->
    <div class="invitation flex h-screen md:h-screen w-full justify-center md:items-center bg-invitation-background bg-cover">
        <div class="invitation-content flex flex-col md:w-10/12 lg:w-8/12 xl:w-7/12 2xl:w-6/12 text-center items-center pt-12 pb-16 bg-invitation-pattern bg-cover bg-center">
            <img class="w-40 pb-4" src="../public/images/name.svg" alt="author">
            <h2 class="invitation_title text-2xl uppercase font-display pb-4 text-teal-900">Bektur Kalymbetov</h2>
            <p class="invitation_text w-2/3 font-display pb-6 text-teal-900">МЫ БУДЕМ РАДЫ РАЗДЕЛИТЬ С ВАМИ РАДОСТЬ НЕПОВТОРИМОГО ДЛЯ НАС ДНЯ – ДНЯ НАШЕЙ СВАДЬБЫ! ПРИГЛАШАЕМ ПРИСОЕДИНИТЬСЯ К НАШЕМУ ПРАЗДНИКУ И УКРАСИТЬ ЕГО СВОИМ ПРИСУТСТВИЕМ!</p>
            <img class="" src="../public/images/date.svg" alt="date">
        </div>
    </div>
    <!-- <embed src="../public/sound/music.mp3" loop="true"> -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/html-to-image/1.11.11/html-to-image.min.js"></script>
    <script src="../public/js/script.js"></script>
</body>
</html>