<!DOCTYPE html>
<html lang="ky">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Marmelad&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <title><%= invitation.name%></title>
</head>
<body>
    <!-- Invitation -->
    <div class="invitation flex min-h-screen md:h-screen w-full justify-center md:items-center bg-invitation-background bg-cover">
        <div class="invitation-content flex flex-col md:w-10/12 lg:w-8/12 xl:w-7/12 2xl:w-6/12 text-center justify-center items-center pt-12 pb-16 bg-invitation-pattern bg-cover bg-center">
            <img class="w-40 pb-4" src="/images/name.svg" alt="author">
            <h2 class="invitation_title text-2xl uppercase font-display pb-4 px-4 text-teal-900">Урматтуу <%=invitation.name%></h2>
            <p class="invitation_text w-2/3 font-display pb-6 text-teal-900">МЫ БУДЕМ РАДЫ РАЗДЕЛИТЬ С ВАМИ РАДОСТЬ НЕПОВТОРИМОГО ДЛЯ НАС ДНЯ – ДНЯ НАШЕЙ СВАДЬБЫ! ПРИГЛАШАЕМ ПРИСОЕДИНИТЬСЯ К НАШЕМУ ПРАЗДНИКУ И УКРАСИТЬ ЕГО СВОИМ ПРИСУТСТВИЕМ!</p>
            <img class="hidden md:block" src="/images/date.svg" alt="date">
            <h2 class="invitation_title text-2xl uppercase font-display pb-2 text-teal-900 md:hidden">Март 19</h2>
            <p class="invitation_text font-display uppercase pb-5 text-teal-900 md:hidden">Воскресенье | 1 8 : 0 0</p>
            <h2 class="invitation_title text-2xl uppercase font-display pb-2 text-teal-900 md:hidden">Адресс</h2>
            <p class="invitation_text font-display uppercase pb-5 text-teal-900 md:hidden">PRESIDENT CITY HALL, Ауэзова 24</p>
            <a class="mt-5 p-2 bg-teal-800 text-white rounded-sm active:bg-green-900 font-display" href="https://goo.gl/maps/AxHaU48FXRk6Wqoe6">Показать на карте</a>
        </div>
    </div>

    <script src="/js/invitation-script.js"></script>
</body>
</html>